.Sensor,.Govee{
    display: flex;
    flex-flow:row nowrap;
    }
    
  .temperaturesTable, .goveeTable{
    display: flex;
    flex-flow:column;
    flex:0 10%;
  }
  
  .temperaturesTable > .head, .goveeTable > .head{
  display: flex;
  flex-flow:row nowrap;

  }
  
  .head > div{
    border: 1px solid black;
    flex:0 50%;
    text-align: center;
  }
  
  
  .temperatureRecord, .goveeRecord{
    display: flex;
    flex-flow:row nowrap;
  }
  
  .temperatureRecord > div, .goveeRecord > div{
  border:1px solid black;
  flex:0 50%;
  text-align: center;
  }

  
  @media screen and (max-width: 500px)  {
.Sensor,.Govee{
    flex-flow:column;
    flex-direction: column-reverse;
}

.SensorInfoWrapper{
display: none;
}

  }
  
  